---
BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -2
# Macros:
# - PRIVATE=private
# - PROTECTED=protected
# AttributeMacros: ['PRIVATE', 'PROTECTED']
AttributeMacros: ['PRIVATE', 'PROTECTED']
# WhitespaceSensitiveMacros: ['PRIVATE', 'PROTECTED']